.zupa__CasesmoreInfo{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.zupa__CasesmoreInfo-image {
    max-height: 270px;
}
.zupa__CasesmoreInfo-gradient{
    min-height: 270px;
    background: #033152;
    padding: 2.625rem 0.2rem 0.2rem 3.438rem;
    position: relative;
}
.zupa__CasesmoreInfo-image img{
    width: 100%;
    height: auto;
    max-height: 270px;
}
.zupa__CasesmoreInfo-content{
    border: 1px solid #D1D0C8;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    padding-top: 2.625rem;
    min-width: 50%;
    min-height: 270px;

}
.zupa__CasesmoreInfo-work{
    flex: 1;
    display: flex;
    flex-direction: row;
    min-width: 50%;
    position: relative;
}
.zupa__CasesmoreInfo-service{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zupa__CasesmoreInfo-content h4{
    font-size: 2rem;
    line-height: 46px;
    font-weight: 400;
}
.zupa__CasesmoreInfo-content p{
    font-size: 1.125rem;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.zupa__CasesmoreInfo-gradient p{
    font-size: 1.125rem;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}
.zupa__CasesmoreInfo-gradient h4{
    font-size: 3.75rem;
    line-height: 60px;
    font-weight: 400;
    color: #fff;
    max-width: 427px;
    margin-right: 4.2rem;
}
.zupa__CasesmoreInfo-icon{
    position: absolute;
    margin-top: 135px;
    right: 35px;
}

.zupa__CasesmoreInfo-overlay {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
  }

.zupa__CasesmoreInfo-overlay p {
    font-size: 1.125rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.zupa__CasesmoreInfo-overlay img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-out;
	transition: .6s ease-out;
}

.zupa__CasesmoreInfo-overlay p{
	-webkit-transition: .3s ease-out;
	transition: .6s ease-out;
}
.zupa__CasesmoreInfo-overlay h4{
	-webkit-transition: .3s ease-out;
	transition: .6s ease-out;
}
.zupa__CasesmoreInfo-gradient #icon{
	-webkit-transition: .3s ease-out;
	transition: .6s ease-out;
}


@media screen and (max-width: 1350px){
    .zupa__CasesmoreInfo-gradient h4{
        font-size: 3rem;
    }
}

@media screen and (max-width: 1440px){
    .zupa__CasesmoreInfo-gradient{
        padding: 2.625rem 0.2rem 0.2rem 2.5rem;
    }
}
@media screen and (max-width: 1280px){
    .zupa__CasesmoreInfo-gradient h4{
        font-size: 1.8rem;
    }
    .zupa__CasesmoreInfo-content h4{
        font-size: 1.8rem;
    }
    .zupa__CasesmoreInfo-content p{
        margin-bottom: 15px;
    }
    .zupa__CasesmoreInfo-gradient p{
        margin-bottom: 15px;
    }

}
@media screen and (max-width: 1110px) {
    .zupa__CasesmoreInfo{
        display: block;
        flex-direction: row;
    }
    .zupa__CasesmoreInfo-overlay{
        position: relative;
    }
    .zupa__CasesmoreInfo-gradient{
        padding: 2.625rem 0.2rem 0.2rem 3.438rem;
    }
    .zupa__CasesmoreInfo-content h4{
        font-size: 2rem;
    }
    .zupa__CasesmoreInfo-content p{
        font-size: 1.125rem;
        margin-bottom: 20px;
    }
    .zupa__CasesmoreInfo-gradient p{
        font-size: 1.125rem;
        margin-bottom: 20px;
    }
    .zupa__CasesmoreInfo-gradient h4{
        font-size: 2rem;
    }
    .zupa__CasesmoreInfo-work{
        display: block;
    }

}

@media screen and (max-width: 870px){
    .zupa__CasesmoreInfo-content{
        margin: 0 2rem;
        border-top: none;
    }

  }

@media screen and (max-width: 615px) {
    .zupa__CasesmoreInfo-gradient h4{
        font-size: 1.8rem;
    }
    .zupa__CasesmoreInfo-content h4{
        font-size: 1.8rem;
    }
    .zupa__CasesmoreInfo-content p{
        margin-bottom: 15px;
    }
    .zupa__CasesmoreInfo-gradient p{
        margin-bottom: 15px;
    }
    .zupa__CasesmoreInfo-gradient{
        padding: 2.625rem 0.2rem 0.2rem 2.5rem;
    }
}
@media screen and (max-width: 576px){
    .zupa__CasesmoreInfo-content{
        padding-left: 1rem;
        padding-top: 0;
        justify-content: center;
        margin: 0 1rem;
    }
    .zupa__CasesmoreInfo-image img{
        display: none;
    }
    .zupa__CasesmoreInfo-gradient{
        padding: 2.625rem 0.2rem 0.2rem 1rem;
    }

  }
