.Cases {
    background-color: #DC0A1B;
    color: #fff;
}

.zupa__footer{
    color: black;
}
.zupa__navbar-links_logo img{
    filter: invert(1);
}
.nav{
    position: sticky;
    top: 0;
    z-index: 1;
}
.side{
    position: sticky;
    top: 120px;
    z-index: 1;
}