.zupa__caseThird {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-width: 1265px;
    margin: auto;
    justify-content: space-between;
    position: relative;
}

.zupa__right-caseReverse{
    position: relative;
    margin: -4.125rem  0 0 2rem;

}
.zupa__left-caseReverse {
    margin: 0 0 1rem 0 ;
    position: relative;
}

.zupa__left-caseReverse img {
    width: 100%;
    height: auto;;
}
.zupa__right-caseReverse img {
    width: 100%;
    height: auto;;
}




.zupa__left-caseReverse button{
    position: absolute;
    background-color: rgb(255 255 255 / 70%);
    border: none;
    margin: 2.188rem 1.438rem;
    transition: .5s ease;
    transform: translate(0%, 0%);
}
.zupa__left-caseReverse#zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
}
.zupa__left-caseReverse#zoom:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.zupa__left-caseReverse figure {
	overflow: hidden;
}
.zupa__left-caseReverse-overlay button{
    opacity: 1;
    height: 56px;
    width: 56px;
    border-radius: 70%;
}
.zupa__left-caseReverse:hover .zupa__left-caseReverse-overlay button{
    opacity: 1;
    width: 76px;
    border-radius: 40px;
  }

.zupa__left-caseReverse-overlay {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
  }
.zupa__left-caseReverse:hover .zupa__left-caseReverse-overlay {
    opacity: 1;
    background-color: rgb(10 6 0 / 35%);
  }
  .zupa__left-caseReverse:hover .zupa__left-caseReverse-overlay-text{
    opacity: 1;
  }
 .zupa__left-caseReverse-overlay-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 2.188rem 1.438rem;
    opacity: 0;
}

.zupa__left-caseReverse-overlay-text p {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.zupa__left-caseReverse-overlay-text h1 {
    color: #fff;
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 60px;
}



.zupa__right-caseReverse button{
    position: absolute;
    background-color: rgb(255 255 255 / 70%);
    border: none;
    margin: 2.188rem 1.438rem;
    transition: .5s ease;
    transform: translate(0%, 0%);
}
.zupa__right-caseReverse#zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
}
.zupa__right-caseReverse#zoom:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.zupa__right-caseReverse figure {
	overflow: hidden;
}
.zupa__right-caseReverse-overlay button{
    opacity: 1;
    height: 56px;
    width: 56px;
    border-radius: 70%;
}
.zupa__right-caseReverse:hover .zupa__right-caseReverse-overlay button{
    opacity: 1;
    width: 76px;
    border-radius: 40px;
  }

.zupa__right-caseReverse-overlay {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;

  }
.zupa__right-caseReverse:hover .zupa__right-caseReverse-overlay {
    opacity: 1;
    background-color: rgb(10 6 0 / 35%);
  }
  .zupa__right-caseReverse:hover .zupa__right-caseReverse-overlay-text{
    opacity: 1;
  }


 .zupa__right-caseReverse-overlay-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 2.188rem 1.438rem;
    opacity: 0;
}

.zupa__right-caseReverse-overlay-text p {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.zupa__right-caseReverse-overlay-text h1 {
    color: #fff;
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 60px;
}


@media screen and (max-width: 1440px){
    .zupa__caseThird{
        max-width: 1140px;
    }
}

@media screen and (max-width: 1280px){
    .zupa__caseThird{
        max-width: 980px;
    }
    .zupa__right-caseReverse-overlay-text h1 {
        font-size: 3.2rem;
    }
    .zupa__left-caseReverse-overlay-text h1 {
        font-size: 3.2rem;
    }
}
@media screen and (max-width: 1110px) {
    .zupa__caseThird{
        max-width: 750px;
    }
}

@media screen and (max-width: 870px) {
    .zupa__caseThird{
        max-width: 100%;
        display: block;
    }
    .zupa__right-caseReverse{
        margin: 1.75rem 0 0 0;
        padding: 0 2rem;
    }
    .zupa__left-caseReverse {
        padding: 0 2rem;
        margin-right: 0rem;
    }
    .zupa__left-caseReverse {
        margin: 0 ;
    }
    .zupa__left-caseReverse-overlay {
        margin: 0 2rem;
        width: auto;
    }
    .zupa__right-caseReverse-overlay {
        margin: 0 2rem;
        width: auto;
    }
}
@media screen and (max-width: 576px){
    .zupa__right-caseReverse{
        margin: 0.688rem 0 0 0;
        padding: 0 1rem;
    }
    .zupa__left-caseReverse {
        padding: 0 1rem;
    }
    .zupa__left-caseReverse-overlay {
        margin: 0 1rem;
        width: auto;
    }
    .zupa__right-caseReverse-overlay {
        margin: 0 1rem;
        width: auto;
    }
    .zupa__right-caseReverse-overlay-text h1 {
        font-size: 2.2rem;
    }
    .zupa__left-caseReverse-overlay-text h1 {
        font-size: 2.2rem;
    }
  }
